.roi {
  color: white;
  height: 40vh;
}

.roiPorcentaje {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #0fbc4f;
  font-size: 24px;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  width: fit-content;
  margin-left: auto;
}
